[project]
	description = Dispatch is a framework for deploying and managing serverless style applications.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sabari Kumar Murugesan (neosab)
[access "refs/for/refs/*"]
	read = group user/Sabari Kumar Murugesan (neosab)
	push = group user/Sabari Kumar Murugesan (neosab)
	label-Code-Review = -2..+2 group user/Sabari Kumar Murugesan (neosab)
	label-Verified = -1..+1 group user/Sabari Kumar Murugesan (neosab)
	rebase = group user/Sabari Kumar Murugesan (neosab)
	removeReviewer = group user/Sabari Kumar Murugesan (neosab)
	submit = group user/Sabari Kumar Murugesan (neosab)
[access "refs/heads/*"]
	read = group user/Sabari Kumar Murugesan (neosab)
	create = group user/Sabari Kumar Murugesan (neosab)
	push = +force group user/Sabari Kumar Murugesan (neosab)
	pushMerge = group user/Sabari Kumar Murugesan (neosab)
[access "refs/tags/*"]
	push = group user/Sabari Kumar Murugesan (neosab)
	push = +force group user/Sabari Kumar Murugesan (neosab)
